.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-white);
    border-radius: unset;
    font-weight: 500;

    &:hover {
        background-color: rgb(255, 255, 255,0.2);
        border-radius: unset;
    }

    &[data-active] {
        &,
        &:hover {
            background-color: rgba(255,255,255,0.1);
            color: var(--mantine-color-white);
            border-left:1px solid #DC7835;
            border-radius: unset;
        }
    }
}
.nested {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-white);
    border-radius: unset;
    border-left:1px solid rgba(255, 255, 255, 0.13);
    font-weight: 500;

    &:hover {
        background-color: rgb(255, 255, 255,0.2);
        border-radius: unset;
    }

    &[data-active] {
        &,
        &:hover {
            background-color: rgba(255,255,255,0.1);
            color: var(--mantine-color-white);
            border-left:1px solid #DC7835;
            border-radius: unset;
        }
    }
}